<div class="splash">
	<h1>Budget Wizard</h1>
  <div class="sign-in">
    <%= link_to "Sign in", new_user_session_path %>
  </div>
  <div class="sign-up">
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
</div>


