<div class="container">
  <h1>Budget App</h1>
  <div>
    <div>
      <%= link_to "Sign in", new_user_session_path %>
    </div>
    <div>
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
  </div>
</div>

