<div>
  <h1>Categories</h1>

  <div>
    <% @categories.each do |category| %>
      <div>
        <%= image_tag(category.icon, alt: "Category icon") %>
        <%= link_to category.name, category_path(category) %>
        <p>Total amount $<%= category.payments.sum(:amount) %></p>
      </div>
    <% end %>
  </div>
  <%= link_to "Add new category", new_category_path %>
</div>